@import 'https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&subset=cyrillic,cyrillic-ext,latin-ext';
body {
  margin-top: 100px;
  background-color: #5a5b5c;
  color: #EEEEEE;
  
}
#headname{
  text-align: center;
  font-style: italic;
  font-size: 40px;
}
#headline{
  text-align: center;
}
#message{
  text-align: center;
}
#foot{
  text-align: center;
}

h1 {
  font-size: 20px;
}

#container1 {
  display: flex; 
  width: 700px;  
  margin-left: 420px; 
  margin-top: 20px;            
  flex-direction: row;            
  flex-wrap: nowrap;              
  justify-content: space-between; 

}
#container1 > #score {
  width: 100px;
  height: 100px;
  border-radius: 20%;
  border: 2px solid #343a40;
  text-align: center;
  background-color: #343a40;
}
#container1 > #level {
  width: 100px;
  height: 100px;
  border: 2px solid #343a40;
  border-radius: 20%;
  text-align: center;background-color: #343a40;
  
}
#container1 > #etc {
  width: 100px;
  height: 100px;
  border: 2px solid #343a40;
  border-radius: 20%;
  text-align: center;
  background-color: #343a40;
}



#wordcon {
  display: flex; 
  width: 700px;  
  margin-left: 420px; 
  margin-top: 20px;            
  flex-direction: row;            
  flex-wrap: nowrap;              
  justify-content: space-between; 
  background-color:#41BDF1;
  font-size: 10px;
  font-weight: bold;
}
#wordcon > #word1 {
  width: 100px;
  height: 100px;
  border-radius: 20%;
  border: 2px solid green;
  text-align: center;
  background-color: green;
  font-size: 10px;
  font-weight: bold;
}
#wordcon > #word2 {
  width: 100px;
  height: 100px;
  border: 2px solid hotpink;
  border-radius: 20%;
  text-align: center;background-color: hotpink;
  font-size: 10px;
  font-weight: bold;
}
#wordcon > #word3 {
  width: 100px;
  height: 100px;
  border: 2px solid blue;
  border-radius: 20%;
  text-align: center;
  background-color: blue;
  font-size: 10px;
  font-weight: bold;
}
.key{
  display: inline-block;
  color: #5E5E5E;
  font: bold 20px arial;
  text-decoration: none;
  text-align: center;
  margin: 20px auto;
  padding: 15px 20px;
  background: #EFF0F2;
  border-radius: 20px;
  border-top: 1px solid #F5F5F5;
  box-shadow: inset 0 0 25px #E8E8E8, 0 1px 0 #C3C3C3, 0 2px 0 #C9C9C9, 0 2px 3px #333;
  text-shadow: 0px 1px 0px #F5F5F5;
text-transform: uppercase;
}
.footer{
  position: absolute;
  text-align: center;
  right: 0;
  bottom:0;
  left: 0;
  padding: 1rem;
}
#stbtn{
  margin-left: 700px;
}

#outer
{
    width:100%;
    text-align: center;
}
.inner
{
    display: inline-block;
}
#word-input{
  margin-left: 670px;
  
}



#container2 {
  display: flex; 
  width: 700px;  
  margin-left: 420px; 
  margin-top: 20px;            
  flex-direction: row;            
  flex-wrap: nowrap;              
  justify-content: space-between; 
 
}
#container2 > #box1 {
  width: 200px;
  height: 100px;
 
  border: 2px solid #343a40;
  text-align: center;
  background-color: #343a40;
}
#container2 > #box2 {
  width: 200px;
  height: 100px;
  border: 2px solid #343a40;

  text-align: center;
  background-color: #343a40;
  
}
#container2 > #box3 {
  width: 200px;
  height: 100px;
  border: 2px solid #343a40;
  
  text-align: center;
  background-color: #343a40;
}

#allbox{
  color: white;
}